 
 * {
margin: 0;
padding:0;
box-sizing:border-box;
 }
 
   .mean {
    display:inline-block;
  }
  .mean1 {
  display:inline-block;
    background-image: url(../photos/doreamon.jpg);
    padding-top:135px ;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    font-size: 10px;
    width: 200px;
    height: 200px;
    margin: 45px;
    box-shadow: 0px 0px 20px rgb(26, 219, 80);
  }
  .mean2 {
    display:inline-block;
    background-image: url(../photos/facebook.png);
    background-size: cover;
    padding-top:125px ;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size:cover;
    font-size: 10px;
    width:210px;
height :210px;
color:white;
box-shadow: 0px 0px 20px rgb(0, 0, 11);
    
  }
  .mean3 {
    display:inline-block;
    background-image: url(../photos/pikachu.jpg);
    background-size: contain;
    padding-top:135px ;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size:cover;
    font-size: 10px;
    width:230px;
    height :230px;
    margin: 45px;
    box-shadow: 0px 5px 20px yellow;
  }
  .smart {
    display:flex
  }
  .smart1 p{
    background-image: url(../photos/pokemon.jpg);
    background-size: contain;
    padding-top:25px ;
    padding-inline-end: 65px;
    border-radius: 50%;
    background-size:cover;
    font-size: 10px;
    width: 200px;
    height: 200px;
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(189, 245, 76);
  }
  .smart2 {
  background-image: url(../photos/doreamon.png);
  margin: 20px;
  padding-top: 150px;
    border-radius:125px;
    background-size: cover;
    font-size: 13px;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 20px rgb(39, 166, 230);
  }
.smart3 p {
  background-color:rgb(182, 201, 237);
  padding:10px ;
  background-size:cover;
  border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 15px;
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 0px 10px 20px;
  
}