*{
    margin-left: 0px;
    
}

tr,
th{
    height: 20px;
    width: 50px;
}
table {
    background-color: rgb(114, 179, 157);
}
.main { 
          
    text-align: center;
    border-collapse:collapse;
    margin:30px;
    padding:0;
}