* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
#navbar {
    display: flex;
    flex-direction: row;
    width: 1006px;
    height: 50px;
    
}
#nav1 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 50px;
    padding-top: 12px;
    font-weight: bolder;
    

}
#nav2{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 50px;
    padding-top: 10px;
    
}
#nav3{
    display: flex;
    justify-content: end;
    width: 306px;
    height: 50px;
    
}
#twitter{
    display:inline-block;
    width: 90px;
    height: 50px;
    margin-right: 20px;
    margin-top: 5px;
    
}
#main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    padding-top:5px ;
    background-color: #b0b0af;
}
#main-first{
   height: 200px;
   width: 200px;
   margin-left: 100px;
   margin-right: 5px;
   background-color: white;
}
#IMG{
    border-radius: 50%;
}
tr th {
    color: rgb(33, 104, 161);
    
}
#num{
    color: rgb(0, 179, 255);
    
}

#main-second{
    height: 400px;
    width: 400px;
    
}

#main-second1{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    background-color:white;
}
#pic{
    width: 60px;
    height: 100px;
    padding: 5px;
}
#para{
    
    width:300px;
    height: 100px;
    font-weight: bolder;
    background-color:white;
    padding: 10px;
    
}
#remy{
    color:grey;
    
}
#main-third{
    height: 200px;
    width: 200px;
    margin-left: 5px;
    padding: 10px;
    background-color: #ffffff;
}
#boy{
    display: flex;
    flex-direction: row;
    width: 185px;
    height: 60px;
    font-size: 13px;
    padding: 10px;
}
    #para1 {
    
        width: 130px;
        height: 25px;
    }

#boy1{
    width: 40px;
    height: 80px;

}
.round{
    border-radius: 50%;
}
.round1{
    border-radius: 50%;
    position: relative;
    left: 5%;
    top: -10%;
    border:  2px solid white;
}