 

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 .main1 {
    display: inline-block;
    border: 3px solid rgb(10, 46, 97);
    margin: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(81, 119, 208);
    background-image: url(https://c.tenor.com/WBDOBnaOGtkAAAAM/falling-pink-hearts.gif);
    
}
.main-1 {
    display:inline-block;
    background-image: url(https://thumbs.dreamstime.com/b/simple-hearts-shapes-seamless-pattern-pink-background-valentines-day-wallpaper-february-backdrop-simple-hearts-shapes-seamless-178623314.jpg);
    margin:30px;
    font-size: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 106px;
    padding-top: 34px;
    font-family: 'Abril Fatface', cursive;
}
.main-2 {
    display:inline-block;
    background-image: url(https://previews.123rf.com/images/feelart/feelart1801/feelart180100004/92683708-valentines-day-abstract-background-design-of-heart-on-pink-background-love-concept-vector-illustrati.jpg);
    margin:30px;
    font-size: 12px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 141px;
    padding-top: 39px;
    font-family: 'Shadows Into Light', cursive;

}
.main-3 {
    display:inline-block;
    background-image: url(https://s3.envato.com/files/278633495/DSC_4210.jpg);
    margin:30px;
    font-size: 12px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 141px;
    padding-top: 43px;
    font-family: 'Pacifico', cursive;
}
.main-2 #moon {
    color:rgb(241, 10, 10);
}
