*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 99%;
    height: 700px;
background-image: url(https://pa1.narvii.com/6722/04cfd99030314967c510ddb829e95cd2e09a8295_hq.gif);
background-repeat: no-repeat;
background-size: 100% 100%;
margin:1% auto;
}

/* .....pluto.... */

.pluto-rotate{
   
    position: relative;
    top:5%;

    width: 600px;
    height: 600px;
    border: 2px solid white;
    border-radius: 50%;
    margin: auto;
    animation: rotation;
    animation-duration: 120s ;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.pluto{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top:10%;
    left:15%;
}

/* .....neptune..... */

.neptune-rotate{
    
    width: 90%;
    height: 90%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0% auto;
    animation: rotation;
    animation-duration: 110s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.neptune{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top:10%;
    left:15%;
}

/* ......uranus..... */

.uranus-rotate{
   
    width: 90%;
    height: 90%;
    border: 2px solid white;
    border-radius: 50%;
    margin: -1% auto;
    animation: rotation;
    animation-duration: 155s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.uranus{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top:10%;
    left:15%;
}

/* ......saturn....... */

.saturn-rotate{
   
    width: 90%;
    height: 90%;
    border: 2px solid white;
    border-radius: 50%;
    margin:  auto;
    animation: rotation;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.saturn{
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top:9%;
    left:10%;
}

/* ......jupiter...... */

.jupiter-rotate{
   position: relative;
    bottom:5%;

    width: 85%;
    height: 85%;
    border: 2px solid white;
    border-radius: 50%;
    margin:  auto;
    animation: rotation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.jupiter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top:9%;
    left:9%;
}

/* ......mars...... */

.mars-rotate{
   
    width: 85%;
    height: 85%;
    border: 2px solid white;
    border-radius: 50%;
    margin: -5% auto;
    animation: rotation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.mars{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top:10%;
    left:10%;
}

/* ......earth...... */

.earth-rotate{
   
    width: 80%;
    height: 80%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10% auto;
    animation: rotation;
    animation-duration: 270s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.earth{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    position: absolute;
    top:11%;
    left:6%;
}

/* ......venus...... */

.venus-rotate{
   position: relative;
   top:10%;
   left:1%;
    width: 75%;
    height: 75%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 3% auto;
    animation: rotation;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.venus{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    top:8%;
    left:5%;
}

/* ......mercury...... */

.mercury-rotate{
    position: relative;
    top:10%;
    left:1%;
    width: 70%;
    height: 70%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 4% auto;
    animation: rotation;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.mercury{
    width: 30px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top:5%;
    left:5%;
}

 .sun{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position:fixed;
    top:25%;
    left:25%;
}


/* ......moon...... */

.moon-rotate{
    position:absolute;
     top:10%;
     left:0%;
     width: 21%;
     height: 21%;
     border: 1px solid white;
     border-radius: 50%;
     margin:  auto;
     animation: rotation;
     animation-duration: 8s;
     animation-iteration-count: infinite;
 }
 @keyframes rotation{
     0%{
         transform: rotate(0deg);
     }
     100%{
         transform: rotate(360deg);
     }
     
 }
 .moon{
     width: 10px;
     height: 10px;
     border-radius: 50%;
     position: absolute;
     top:-5%;
     left:8%;
 } 
