*{
    margin:0;
    padding:0;
    box-sizing: border-box

}


.main{
    width:30%;
    height:600px;
    background-color:aquamarine ;
    margin:auto;
}


.upperbody{
    width:70%;
    height:200px;
    background-color:cornflowerblue;
    margin:auto;
position:relative;
top:10%;
border-radius:50%;
}

.whiteball1, .whiteball2{
    width:40%;
    height:100px;
    background-color:white;
    margin:auto;
position:absolute;
top:20%;
border-radius:50%;
}

.whiteball1{
left: 11%;
}

.whiteball2{
    right:11%;
}
.blackball1, .blackball2{
    width:45%;
    height:55px;
    background-color:rgb(10, 10, 10);
    margin:auto;
position:absolute;
top:20%;
border-radius:50%;
}
.blackball1{
    left:25%;
}
.blackball2{
    right:25%;
}

.white1, .white2{
    width:40%;
    height:20px;
    background-color:white;
    margin:6px;
position:absolute;
top:2%;
border-radius:50%;
}

.white1{
left:30%;
}

.white2{
    right:28%;
}


.yellownose{
    width:20%;
    height:40px;
    background-color:rgb(235, 155, 6);
    margin:auto;
position:absolute;
top:50%;
left: 40%;
z-index: 1;
transform: rotate(130deg);
border-bottom-left-radius: 40%;
border-bottom-right-radius: 40%;
border-top-left-radius: 40%;


}

.rightear{
    width:30%;
    height:70px;
    background-color:cornflowerblue;
position:absolute;
top:-4%;
left: 0%;
transform: rotate(205deg);

border-top-right-radius: 95%;
border-top-left-radius: -11%;


}
.leftear{
    width: 30%;
    height: 70px;
    background-color: cornflowerblue;
    position: absolute;
    top: -6%;
    right: 0%;
    transform: rotate(416deg);
    border-top-right-radius: 95%;
border-top-left-radius: -11%;
}


    .body {
        width: 71%;
        height: 257px;
        background-color: cornflowerblue;
        margin: auto;
        margin-top: 21px;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .lefthand {
        width: 32%;
        height: 155px;
        background-color: cornflowerblue;
        margin: right;
        margin-top: -237px;
        border-bottom-right-radius: 10%;
        border-top-right-radius: 10%;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
    
    .righthand{
        width: 32%;
        height: 155px;
        background-color: cornflowerblue;
        margin: right;
        margin-top: -237px;
        border-bottom-right-radius: 10%;
        border-top-right-radius: 10%;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
    
    .leftlegs{
        width: 20%;
        height: 80px;
        background-color:rgb(235, 155, 6);
        margin: right;
        border-radius:0;
        border-bottom-left-radius: 30px; 
    }

    .rightlegs{
        width: 20%;
        height: 80px;
        background-color:rgb(235, 155, 6);
        margin: right;
        border-radius:0;
        border-bottom-left-radius: 30px;
    }






/* .leftyear{
    width:10%;
    height:30px;
    background-color:rgb(154, 191, 247);
    margin:right;
position:absolute;
top:10%;
left: 10%;
transform: rotate(130deg);}





.toge{
    width:10%;
    height:10px;
    background-color:rgb(245, 235, 235);
    margin:auto;
position:absolute;
top:20%;
border-radius:50%;

}
.whiteboll1{
    width:10%;
    height:10px;
    background-color:rgb(245, 235, 235);
    margin:auto;
position:absolute;
top:20%;
border-radius:50%;

} */


.whiteboll1{
    left:25%;
}
.whiteboll2{
    right:25%;
   
}


/*.rightyear{
    width:5%;
    height:50px;
    background-color:cornflowerblue;
    margin:10px;
}


.leftyear{
    width:5%;
    height:50px;
    background-color:rgb(100, 237, 157);
    margin:23px;
}


.lowerbody{
    width:30%;
    height:200px;
    background-color:rgb(8, 48, 26);
    margin:17px;
}


.righthand{
    width:10%;
    height:20px;
    background-color:rgb(57, 61, 61);
    margin:27px;
}


.lefthand{
    width:10%;
    height:20px;
    background-color:rgb(153, 70, 70);
    margin:10px;
}


.rightleg{
    width:10%;
    height:40px;
    background-color:rgb(179, 133, 34);
    margin:9px;
}


.leftleg{
    width:10%;
    height:40px;
    background-color:rgba(55, 78, 121, 0.637);
    margin:25px;
} */