* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    color: rgb(51, 92, 125);
}
.policy {
    
    width:95%;
    height: fit-content;
    padding: 75px;
    margin: auto;
}
p ,ol {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
    font-size: 14px;
   
}
h1{
    font-size: 25px;
    margin: 0px 0px 1px 0px;
    padding: 25px 0px 1px 0px;

} 
ol li {
    padding: 1px 0px 0px 0px;
    margin-left: 40px;
}
