* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 1%;
  background-color: aquamarine;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 3fr 20fr 2fr;
}
.child1 {
  background-color: aqua;
  grid-column: 1/-1;
  height: 50px;
}
.child2 {
  grid-column: 1/-1;
  background-color: rgb(11, 58, 58);
}
.child3 {
  grid-column: 1/-1;
  background-color: rgb(0, 255, 81);
}
.child4 {
  grid-column: 1/2;
  background-color: rgb(255, 0, 111);
}
.child5 {
  grid-column: 2/3;
  background-color: rgb(255, 170, 0);
}
.child6 {
  grid-column: 3/4;
  background-color: rgb(0, 51, 255);
}
.child7 {
  grid-column: 1/-1;
  background-color: rgb(236, 165, 230);
}
