*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    width: 100%;
    height: 660px;
 
}
.white1{
    width:15%;
    height: 660px;
    background-color:white;
z-index:1;
}
.white2{
    width: 90%;
    height: 660px;
    background-color:rgb(229, 250, 226);
    margin: auto;
}
.color{
    width: 300px;
    height: 300px;
    background-image:linear-gradient(45deg, rgb(126, 243, 126), rgb(2, 98, 2), rgb(92, 245, 92));
    transform: rotate(45deg);
    position:fixed;
    top:18%;
    right:-39px;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 4px;
}
.image1{
    width: 160px;
    height: 160px;
    background-image:url(/photos/girl2.jpg);
    transform: rotate(45deg);
    position:fixed;
    top:10%;
    right:260px; 
    border-radius: 20px;
    box-shadow: 0px 1px 10px 4px;
}
.image2{
    width: 200px;
    height: 200px;
    background-image:url(/photos/girl1.jpg);
    background-repeat: no-repeat;
    transform: rotate(45deg);
    position:fixed;
    top:25%;
    right:400px; 
    border-radius: 20px;
    box-shadow: 0px 1px 10px 4px;
}
.image3{
    width: 230px;
    height: 230px;
    background-image:url(/photos/images.jpg);
    transform: rotate(45deg);
    position:fixed;
    top:50%;
    right:230px; ;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 4px;
}
.pipe2{
    width: 50px;
    height: 90px;
    background-image:linear-gradient(45deg,rgb(126, 243, 126), rgb(2, 98, 2), rgb(92, 245, 92));
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    transform: rotate(46deg);
    position: relative;
    bottom:21%;
    margin-left: 224px ;
    box-shadow: 0px 1px 10px 4px;

}
.pipe1{
    width: 50px;
    height: 435px;
    background-image:linear-gradient(45deg, rgb(126, 243, 126), rgb(2, 98, 2), rgb(92, 245, 92));
    border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    transform: rotate(50deg);
    /* margin: 240px 0px 0px 160px; */
    position: relative;
    top: 43%;
    margin-left: 155px;
    box-shadow: 0px 1px 10px 4px;
}

.pipe3{
    width: 50px;
    height: 90px;
    background-image:linear-gradient(65deg, rgb(126, 243, 126), rgb(2, 136, 2), rgb(92, 245, 92));
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    transform: rotate(135deg);
    position: relative;
    bottom:66%;
    margin-left: 284px ;
    box-shadow: 0px 1px 10px 4px;
}

.pipe4{
    width: 50px;
    height: 90px;
    background-image:linear-gradient(45deg, rgb(126, 243, 126), rgb(2, 98, 2), rgb(92, 245, 92));
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    transform: rotate(45deg);
    position: relative;
    bottom:12%;
    margin-left: 418px ;
    box-shadow: 0px 1px 10px 4px;
}

.pipe5{
    width: 50px;
    height: 150px;
    background-image:linear-gradient(45deg, rgb(126, 243, 126), rgb(2, 98, 2), rgb(92, 245, 92));
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
    transform: rotate(135deg);
    position: relative;
    bottom:35%;
    margin-left: 683px ;
    box-shadow: 0px 1px 10px 4px;
}
