*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(159, 222, 237);
}
 #main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 800px;
    height: 500px;
    margin: 70px 0px 0px 100px;
} 
.child1{
    background-color:white;
    width: 200px;
    height: 500;
    border-radius: 30px;
    border: 2px solid black;
   
}

.fa-circle{
    font-size: 5px;
}
.cir1{
    color:red;
   padding: 0px 0px 0px 0px;
    font-size: 10px;
}
.cir2{
   color: yellow; 
   font-size: 10px;
   padding: 0px 0px 0px -5px;
}
.cir3{
    color:green;
    font-size: 10px;
    padding: 0px 0px 0px 0px;
}
.fa-brands, .fa-solid, .fa-regular{
    margin: 10px 0px 0px 20px;
    font-size: 10px;
    transition-duration: 0.5s;
}


.fa-buffer,.fa-bell, .fa-sliders, .fa-comment{
    font-size: 15px;
}
.fa-buffer:hover{
    color: cornflowerblue;
    cursor:pointer;
    font-size: 20px;
}
.fa-font-awesome:hover{
    color: cornflowerblue;
    cursor:pointer;
    font-size: 20px;
}

.fa-calendar-days:hover{
    color: cornflowerblue;
    cursor:pointer;
    font-size: 20px;
}
.fa-circle-use:hover{
    color: cornflowerblue;
    cursor:pointer;
    font-size: 20px;
}

.fa-searchengin:hover {
    color: cornflowerblue;
    cursor:pointer;
    font-size: 20px;
  
}
.fa-searchengin:hover{
    color: rgb(4, 120, 15);
    transform: rotate(20deg);
    transition-duration: 0.5s;
}
.fa-magnifying-glass-plus:hover{
    color: rgb(3, 52, 112);
    transform: rotate(20deg);
    transition-duration: 0.5s;
    font-size: 20px;
}
.fa-envelope:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;

}
.fa-joomla:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
}
.fa-icons:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
}
.fa-bell:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
}
.fa-comment:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.fa-sliders:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 15px;
}
.fa-circle-user:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
}
.fa-comment:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
}
.fa-sliders:hover{
    color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
}
/* .bold:hover{
    font-size: 15px;
    color: rgb(3, 92, 81);
    transition-duration: 1s;
    transition-delay: 0.5s;
} */
.fa-circle{
    font-size: 5px;
    padding: 0px 0px 0px 0px;
}
#child1-1{
    display: flex;
    height: 30px;
    width: 160px;
    margin: 20px 0px 0px 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 2px 0px 1px;
    
}
#button1{
    
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-size: 10PX;
    color: white;
    padding: 10PX 0px 0px 10px;
    background-color: rgb(83, 176, 234);
   
}
#button1:hover{
    background-color: rgb(2, 54, 137);
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    transition-duration: 0.5s;
}

#button2{ 
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-size: 10PX;
    color: black;
    padding: 10PX 0px 0px 10px;
    
}
#button2:hover{
    background-color: rgb(2, 54, 137);
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    transition-duration: 0.5s;
}
#button01{
    
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-size: 10PX;
    color: white;
    padding: 10PX 0px 0px 10px;
    background-color: rgb(1, 11, 17);
}

#button01:hover{
    background-color: rgb(2, 54, 137);
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    transition-duration: 0.5s;
}
#button02{
    
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-size: 10PX;
    color: black;
    padding: 10PX 0px 0px 10px;
    background-color: white;
}
#button02:hover{
    background-color: rgb(2, 54, 137);
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    transition-duration: 0.5s;
}
h3{
    margin-left: 20px;
    font-size: 15px;
}
h3:hover{
    padding-left: 20px;
    transform: scale(130%);
    transition-duration: 0.7s;
    color: rgb(3, 58, 100);
    
}

#child3{
    display: flex;
    height: 40px;
    width: 160px;
    margin: 70px 0px 0px 20px;
    background-color:white;
    border-radius: 20px;
    font-size: 10px;
    padding: 5px 0px 10px 10px;
    border: 2px solid black;
}
img{
    border-radius: 50px;
    
}
img:hover{
    transform: scale(150%);
    cursor: pointer;
    box-shadow: 0px 1px 0px 1px;
}
#para{
    padding: 0px 0px 50px 5px;
    font-size: 10px;
    width: 150px;
    height: 40px;
}

span{
    color: cornflowerblue;
}
.fa-circle-chevron-right{
    color: green;
}
.fa-circle-chevron-left{
    color:red
}

.fa-circle-chevron-right:hover{
    color: rgb(4, 168, 67);
    font-size: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.fa-circle-chevron-left:hover{
    color: rgb(238, 9, 9);
    font-size: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.child2{
    width: 50px;
    height: 500px;
    border-radius: 20px;
    margin-left: 30px;
    background-color:white;
    border: 2px solid black;
}
.dot{
    font-size: 5px;
}
.baby{
    margin: 120px 0px 0px 10px;
}

/* p:hover{
    color: rgb(14, 2, 85);
    font-size: 11px;
    transition-duration: 0.5s;
    cursor: pointer;
} */

.child3{
    width: 200px;
    height: 500px;
    margin-left: 50px;
    border-radius: 30px;
    background-color: rgb(83, 180, 240);
    border: 2px solid black;
}
.child4{
    width: 50px;
    height: 500px;
    border-radius: 20px;
    margin-left: 30px;
    background-color:  rgb(83, 180, 240);
    border: 2px solid black;

}