form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin: 0px 0px 10px 5px ;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
 
  input:focus{
    outline: none;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #054555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #092d36;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  