*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width:30%;
    height: 600px;
    margin: 1% auto;
    position: relative;
    background-color: rgb(42, 106, 165);
}

.head{
    width:90%;
    height: 150px;
    position: absolute;
    top:20%;
    left:5%;
    display: flex;
}

.lefteye, .righteye {
width: 50%;
height:150px ;
background-color: rgb(189, 67, 67);
position: absolute;
border-radius: 50%;
margin-top: 13%;
z-index:1;
}
.lefteye{
    top:1%;
    left:10%;
  
}
.righteye{
    top:1%;
    right:10%;
    
}
.whiteeye1, .whiteeye2{
    width: 40%;
height:104px ;
background-color: white;

border-radius: 50%;
margin-top: 22%;
z-index: 1;

}

.whiteeye1{
    top:5%;
    left:15%;
    position: absolute;
    
}

.whiteeye2{
    top:5%;
    right:15%;
    position: absolute;
}
.blackeye1, .blackeye2{
   
height:70px ;
background-color: black;

border-radius: 50%;
margin-top: 8%;


}
.blackeye1{
    top:40%;
    left:22%;
    position: absolute;
    z-index: 2;
    width: 22%;
}

.blackeye2{
    top:9%;
    right:17%;
    position: absolute;
    width: 52%;
}


.nose{
    width: 20%;
    height:45px ;
    background-color: white;
    position: absolute;
    margin-top: 8%;
    top:70%;
    right:40%;
    transform: rotate(45deg);
    z-index: 1;
}
.body{
    width:80%;
    height: 240px;
    background-color: brown;
    position: absolute;
    top:40%;
    left:12%;
    border-radius: 50%;
}
.pipe{
    width: 250px;
    height: 50px;
    background-color: rgb(223, 184, 184);
    position: absolute;
    top:60%;
    right:1%;
    border-radius: 20px;
}