*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gradient{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;


}
#red, #orange, #violet, #black, #green, #sky{
    width: 10%;
    height: 150px;
    padding: 40px 0px 0px 30px;
    
}
#red{
    background-image: radial-gradient( farthest-side at 100% 50%,blue 30%,red 70%, rgb(8, 8, 1) 90%);
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
}
#orange{
    background-image: radial-gradient( farthest-side at 0% 50%,blue 30%,red 70%, rgb(8, 8, 1) 90% );
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
}
#black{
    background-color: black;

}
#sky{
    background-image: radial-gradient(purple 1%, blue 20%,white 80%);
    border-radius: 50%;

}
#violet{
    background-image:linear-gradient(rgb(212, 83, 169), rgb(167, 85, 227), rgb(235, 180, 211));
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;

}
#green{
    background-image: radial-gradient(farthest-side at 100% 0%, rgb(103, 5, 102),rgb(7, 147, 234), white);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#radialgradient{
    background-image: conic-gradient(green, blue, red);
    border-radius: 50%;
}
#solidblue{
    background-image: radial-gradient(red, rgb(78, 245, 78), purple);
    border-radius: 50%;
}
.pokemon{
    width: 60px;
    height: 60px;
    padding: 1px 4px 0px 0px ;
}
img{
    width: 80px;
    height: 80px;
    padding: 1px 15px 0px 0px;
}