 

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 .main1 {
    display: inline-block;
    border: 3px solid rgb(10, 46, 97);
    margin: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(81, 119, 208);
    background-image: url(../photos/sss.jpg);
    
}
.main-1 {
    display:inline-block;
    background-color: rgb(160, 210, 210);
    margin:30px;
    font-size: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 106px;
    padding-top: 34px;
    font-family: 'Abril Fatface', cursive;
}
.main-2 {
    display:inline-block;
    background-color: rgb(169, 201, 230);
    margin:30px;
    font-size: 12px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 141px;
    padding-top: 39px;
    font-family: 'Shadows Into Light', cursive;

}
.main-3 {
    display:inline-block;
    background-color: rgb(175, 223, 223);
    margin:30px;
    font-size: 12px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 141px;
    padding-top: 43px;
    font-family: 'Pacifico', cursive;
}
.main-2 #moon {
    color:rgb(241, 10, 10);
}
