* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 90vw;
}
/* ......nav..... */
.nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 8%;
  border: 1px solid rgb(238, 235, 235);
  background-color: white;
}
#youtube {
  display: flex;
  justify-content: start;
  width: 30vw;
  padding: 2px;
  height: 40px;
  padding-top: 5px;
}
.search {
  font-size: 10px;
  width: 35%;
  height: 36px;
  border: 1px solid black;
  margin: 8px;
}
#navbar {
  float: left;
  display: inline;
  width: 40px;
  height: 40px;
  padding: 9px;
  font-size: 15px;
}
.search-icon {
  width: 50px;
  height: 35px;
  float: right;
  padding: 9px;
  font-size: 15px;
  border-left: 1px solid black;
}
.tell {
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
  width: 34px;
  height: 34px;
  background-color: rgb(193, 188, 188);
}
#navbar2 {
  display: flex;
  justify-content: end;
  padding: 13px;
  font-size: 20px;
  width: 450px;
  height: 40px;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
  width: 34%;
}
/*......nav-icon.....*/

.fa-align-justify {
  font-size: 20px;
  color: black;
}
.side {
  padding: 25px;
  position: fixed;
  top: 8%;
  border-right: 1px solid rgb(251, 246, 246);
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 15px;
  width: 200px;
  height: 100vh;
}
.fa-compass,
.fa-trello,
.fa-dice-d6,
.fa-floppy-disk,
.fa-clock,
.fa-square-caret-right,
.fa-fire,
.fa-thumbs-up,
.fa-music,
.fa-award,
.fa-dragon,
.fa-photo-film,
.fa-film,
.fa-bilibili,
.fa-podcast,
.fa-wand-magic-sparkles,
.fa-book-open-reader {
  color: gray;
  font-size: 10px;
  padding: 8px;
}

.fa-microphone.fa-magnifying-glass {
  color: gray;
  font-size: 12px;
}
.fa-arrow-left {
  cursor: pointer;
}
.fa-square-plus,
.fa-arrow-left .fa-bell {
  color: gray;
  font-size: 5p1x;
  cursor: pointer;
  padding: 1%;
}
.fa-home {
  color: gray;
  font-size: 9px;
  padding: 8px;
}
.fa-youtube {
  color: red;
  padding-left: 0%;

}

.videos {
  width: 81%;
  margin-left: 25%;
  margin-top: 0px;
}

.teasels,
.bear,
.book {
  padding: 1%;
}
.main2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  min-width: 70vw;
  flex-direction: column;
  gap:30px;
  background-color: rgb(133, 182, 214);
}

h1 .ani{
  text-shadow:0px 0px 15px white;
  font-size: 50px;
  padding: 10px;
}
h1:hover{
  color: white;
  text-shadow:5px 5px 10px #1d2b3a;
}
.input-box{
  position: relative;
  width: 300px;
}
.input-box input{
  width: 100%;
  padding: 15px;
  border:1px solid rgba(255,255,255,0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
  transition: 0.5s;
}
.input-box span{
  position: absolute;
  left:0;
  padding: 15px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255,255,255,0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.input-box input:active ~ span,
.input-box input:focus ~ span{
  color:aquamarine;
  transform: translateX(10px) translateY(-7);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  margin-top: -5px;
  margin-left: 10px;
  border-left: 2px solid aquamarine;
  border-right: 2px solid aquamarine;
  letter-spacing: 0.2em;
}
.input-box:nth-child(2) input:active ~ span,
.input-box:nth-child(2) input:focus ~ span{
  background-color: aquamarine;
  color : #1d2b3a; 
}

.input-box input:active,
.input-box input:focus {
  border: 2px solid aquamarine;
}