* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 95vw;
}
/* ......nav..... */
.nav {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 8%;
  border: 1px solid rgb(238, 235, 235);
  background-color: white;
}
#youtube {
  display: flex;
  justify-content: start;
  width: 30vw;
  padding: 2px;
  height: 40px;
  padding-top: 5px;
}
.search {
  font-size: 10px;
  width: 35%;
  height: 36px;
  border: 1px solid black;
  margin: 8px;
}
#navbar {
  float: left;
  display: inline;
  width: 40px;
  height: 40px;
  padding: 9px;
  font-size: 15px;
}
.search-icon {
  width: 50px;
  height: 35px;
  float: right;
  padding: 9px;
  font-size: 15px;
  border-left: 1px solid black;
}
.tell {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin: 9px;
  width: 32px;
  height: 32px;
  background-color: rgb(193, 188, 188);
}
#navbar2 {
  display: flex;
  justify-content:right;
  align-items: center;
  padding: 13px;
  font-size: 20px;
  margin-right: 2%;
  width: 400px;
  height: 40px;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 18px;
  width: 23%;
}
/*......left-nav-icon.....*/

.fa-align-justify {
  font-size: 20px;
  color: black;
  margin-left: 1rem;
 
}

/* navigation second start */
.nav-2{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 18%;
  width: 87%;
  height: 50px;
  background-color: rgb(242, 241, 243);
}
.child{
  text-align: center;
  border-radius: 20px;
  margin: 1%;
  padding: 0.5%;
  border: 1px solid black;
  width: 5rem;
}
.side {
  padding: 20px;
  position: fixed;
  top: 8%;
  border-right: 1px solid rgb(251, 246, 246);
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 15px;
  width: 11rem;
  height: 100vh;
}
.fa-compass,
.fa-trello,
.fa-dice-d6,
.fa-floppy-disk,
.fa-clock,
.fa-square-caret-right,
.fa-fire,
.fa-thumbs-up,
.fa-music,
.fa-award,
.fa-dragon,
.fa-photo-film,
.fa-film,
.fa-bilibili,
.fa-podcast,
.fa-wand-magic-sparkles,
.fa-book-open-reader {
  color: gray;
  font-size: 10px;
  padding: 8px;
}

.fa-microphone,
.fa-magnifying-glass {
  color: gray;
  font-size: 13px;
}
.fa-bell{
  color: gray;
  font-size: 15px;
  margin-top: 6%;
}

.fa-square-plus {
  cursor: pointer;
  color: gray;
  font-size: 15px;
}
.fa-circle-info{
  background-color: rgb(235, 123, 123);
  border-radius: 50%;
  margin: 2px;
  color: rgb(255, 249, 249);
}
.fa-home {
  color: gray;
  font-size: 9px;
  padding: 8px;
}
.fa-youtube {
  color: red;
  padding-top: 1px;
}
.videos {
  z-index: -1;
  width: 83%;
  margin-left: 20%;
  margin-top: 20rem;
  display: flex;
  flex-wrap: wrap;
}
.videos16 {
  display: flex;
  flex-wrap: wrap;
}
.animation {
  width: 200px;
  height: 250px;

}
.teasels,
.bear,
.book {
  padding: 5%;
}
