*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.main{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    background-color:red;
    width:800px;
    height:500px;
    margin:80px 0px 0px 100px;
}

.fa-solid, .fa-brands, .fa-regular, .fa-light
{color: rgb(57, 6, 224);
padding: 5px 0px 0px 5px;  
}
.child1{
width:200px;
height:500px;
background-color: rgb(218, 218, 226);
border-radius:30px;
padding-left:10px;
}


.child-1{  
width:80px;
height:30px;
background-color: rgb(242, 81, 81);
border-radius:20px;
padding: 8px 0px 0px 8px
}

.child-2{
width:80px;
height:30px;
background-color: rgb(108, 108, 135);
border-radius:20px;
padding: 8px 0px 0px 8px
}

.child-1-2{
    display:flex;
    flex-direction:row;
    font-size:11px;
   
width:160px;
height:30px;
background-color: rgb(30, 30, 32);
border-radius: 20px;
margin:10px 0px 0px 10px;
}