*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    width:100%;
    height:660px;


}
.white1{
    width: 10%;
    height: 660px;
    background-color: aquamarine;
}

.white2{
    width: 80%;
    height: 660px;
    background-color: rgba(6, 163, 248, 0.926);
}

.child1{
    width:300px;
    height:300px;
background-image:URL(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUgAAACaCAMAAAD8SyGRAAAAA1BMVEU4ljX8qmBNAAAASElEQVR4nO3BMQEAAADCoPVPbQo/oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeBsXqAAEdWhRHAAAAAElFTkSuQmCC) ;
transform:rotate(45deg);
position:fixed;
top:20%;
right:-50px;
box-shadow: 1px 0px 20px 1px;
border-radius:10px;
}
.child2{
    width:160px;
    height:160px;
    background-image:URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbPoDD3Ot0hSvan4xn3QjaUiXMB1mpmG1PIA&usqp=CAU);
transform:rotate(45deg);
position:fixed;
top:12%;
margin-left:490px;
box-shadow: 1px 0px 20px 1px;
border-radius:10px;
}
.child3{
    width:165px;
    height:165px;
    background-image:URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO2SCRxV1BPzK8ZgVV16_yVuoaI-YT96LB2g&usqp=CAU);
transform:rotate(45deg);
position:fixed;
top:30%;
margin-left:355px;
box-shadow: 1px 0px 20px 1px;
border-radius:10px;
}
.child4{
    width:200px;
    height:200px;
background-image:URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGzYGZMmNvpuF7LjDoeFDOwvCEi1rPmaYrw&usqp=CAU);
transform:rotate(45deg);
position:fixed;
top:52%;
margin-left:480px;
box-shadow: 1px 0px 20px 1px;
border-radius:10px;
}

.pipe1{
    width:40px;
    height:400px;
    background-color: coral;
    transform:rotate(45deg);
}