*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.nav1{
    display:flex;
    justify-content:space-evenly;
    font-size:10px;
    
width:1024px;
height:20px;
background-color:rgb(72, 147, 194);
}
.flag{
    width:10px;
    height:10px;
}